@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hash-background {
  background: repeating-linear-gradient(
    -45deg,
    #ffffff00,
    #ffffff00 10px,
    #ededed 10px,
    #ededed 20px
  );
}
